@charset 'UTF-8';

/**
 * Imports
 */

/* Settings & Variables */
@import "partials/vars";
@import "partials/helpers";

/* Vendor */
@import "vendor/normalize";

/* Modules */
@import "modules/typography";
@import "modules/global";

/**
 * Main styles
 */

.container {
  display: block;
  margin: 0 auto;
  width: 300px;
  overflow: hidden;
}

.select-container {
  padding: 16px 14px;
  position: relative;

  select {
    width: 100%;
    background: $grey;
    border: 0;
    padding: 10px 10px;
    appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAYAAADtj3ZXAAAAcElEQVQokWNwd3PfVV5WNuX///8MxGKQepA+hvi4+EUMDAz/e7q7a4nRDFIHUg/WBzOJGANgGmHq4BKEDEDXiKIZnwHYNGJoxmYATCO2QMXqN5gBsMDEFRs4AwdmAL5oxKn525evvCCNIBqrmv//GQAi6ltKpJTY4AAAAABJRU5ErkJggg==");
    background-repeat: no-repeat, repeat;
    background-position: right 15px top 50%;
    background-size: 15px 10px, 100%;

    &:focus {
      outline: none;
    }
  }
}

.avatar-container {
  overflow: hidden;
  padding: 0 8px;
  position: relative;

  #avatar {
    padding-top: 8px;
    min-height: 198px;
    width: 150px;
    display: block;
  }

  #background-pattern {
    position: absolute;
    top: -12px;
    right: 3px;
    z-index: -1;
  }
}

.stats-container {
  background: $pink;
  display: block;
  padding: 20px;
  position: relative;
  min-height: 322px;

  #badge {
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -50px;
    background-image: url("images/badges_sprite.png");
    height: 100px;
    width: 100px;
  }

  #name {
    color: $white;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    letter-spacing: -1px;
    font-weight: 200;
  }

  #position {
    color: $white;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    font-weight: 200;
  }

  .stat-row {
    padding: 10px 15px;
    background: $grey;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $purple;
    box-shadow: 1px -1px 3px 1px rgba(0, 0, 0, 0.25);

    &:first-of-type {
      margin-top: 19px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .label {
      font-size: 16px;
      margin: 0;
    }

    .value {
      font-size: 19px;
      margin: 0;
      font-weight: bold;
    }
  }
}
