/**
 * Global
 */

/* Better Box Sizing */
html {
  box-sizing: border-box;
  tap-highlight-color: rgba(0, 0, 0, 0);
  touch-callout: none;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
